body {
  background-color: "#92F3A6";
}

h1{


}

p{

}

#noteStyle1 {
color:#FFA66C;
}
#noteStyle2 {
color:#FFF790;
}
#noteStyle3 {
color:#90D3FF;
}
#noteStyle4 {
color:#FFAEC9;
}
#noteStyle5 {
color:#CBA8FF;
}


#createNote {
display: none;
overflow: scroll;
color: rgba(10, 200, 10, 50);
position: relative;
}

.form-popup{
  background-color: "#65E880";
  display:none;
  height: 50%;
  overflow-x: hidden;
  transition: 0.5s;


}

canvas{
padding:10px;
  background-color: "#92F3A6";
}
