body {
  background-color: #92F3A6;
}
h1{
}
p{
}
.circle{
  height: 50px;
  width: 50px;
  border: solid;
  border-radius: 50%;
  display: inline-block;
  border-width: 5px;
  border-color: #000000;
  padding: 0;
}
.circle:hover{
  border: solid;
  border-color: #FFFFFF;
}
#fColor1 {
  background-color:#FFA66C;
}
#fColor2 {
  background-color:#FFF790;
}
#fColor3 {
  background-color:#90D3FF;
}
#fColor4 {
  background-color:#FFAEC9;
}
#fColor5 {
  background-color:#CBA8FF;
}
#createNote {
  display: none;
  overflow: hidden;
  color: rgba(10, 200, 10, 50);
  background-color: #65E880;
  position: relative;
}
.form-popup{
  height: 50%;
  overflow-x: hidden;
  transition: 0.5s;
}
canvas{
  padding:10px;
  background-color: #92F3A6;
}
#flowerPick{
  display: block;
}
#shapePick{
  display: block;
}
#cancelButton{
  display: block;
}
