body {
  background-color: #92F3A6;
}
h1{
}
p{
}
.circle{
  height: 40px;
  width: 40px;
  border-width: 5px;
  border-radius: 50%;
  border-style: solid;
  display: inline-block;
  padding: 0;
}

#fColor1 {
  /* purple */
  background-color:#9999FF;
  border-color:#333399;
}
#fColor2 {
  /* blue */
  background-color:#99FFFF;
  border-color: #339999;
}
#fColor3 {
  /* yellow */
  background-color:#FFFF99;
  border-color:#999933;
}
#fColor4 {
  /* red */
  background-color:#FF9999;
  border-color:#993333;
}
#fColor5 {
  /* pink */
  background-color:#FF99FF;
  border-color:#993399;
}
#createNote {
  display: none;
  /* overflow: hidden; */
  color: rgba(10, 200, 10, 50);
  background-color: #65E880;
  position: relative;
}
.form-popup{
  height: 50%;
  /* overflow-x: hidden; */
  transition: 0.5s;
}
canvas{
  margin:10px;
  background-color: #92F3A6;
  border-style: solid;
  border-width: 5px;
  border-color:#65E880;

}
#flowerPick{
  display: block;
}
#shapePick{
  display: block;
}
#cancelButton{
  display: block;
}
